{% extends 'base.html' %}


{% block head_title %}
home page
{% endblock head_title %}

{% block contents %}

<div class="row text-center">
    <div class="col">
        <h2>Welcome to Tweetme 2!</h2>  
    </div>
</div>

<div class="row" id="tweets">
    Loading ...
</div>

<script>
    const tweetElement = document.getElementById("tweets");
    const xhr = new XMLHttpRequest;
    const method = 'GET';
    const url = '/tweets';
    const responseType = 'json';

    function handleLikedTweet(tweet_id, current_count){
        console.log(tweet_id, current_count);
    }

    function LikeBtn(tweet) {
        return "<button class='btn btn-primary' onclick=handleLikedTweet(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet){
        let tweetElement = "<div class = 'col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "'>" + "<p>" + tweet.content + 
        "</p><div class='btn-group'>" +
        LikeBtn(tweet)
        + "</div></div>";
        return tweetElement;
    }

    xhr.responseType = responseType;
    xhr.open(method,url);
    xhr.onload = () => {
        const serverResponse = xhr.response;
        let listedItems = serverResponse.response;
        let finalTweetStr = "";
        let i;
        for(i=0; i<listedItems.length; i++){
            let currentItem = listedItems[i];
            finalTweetStr += formatTweetElement(currentItem);
        }
        tweetElement.innerHTML = finalTweetStr;

    }
    xhr.send();

</script>


{% endblock contents %}